<div id="bg_art">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <img
          src="../../assets/logo-transparent-white.png"
          alt=""
          id="logo"
        />
      </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
      <div class="col p-3 text-center text">
        <h1>Welcome to TuneLink.</h1>
      </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
      <div class="col text-center text">
          Here to connect you with your favorite artists - live and in person.
      </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="/search">
          <button class="btn btn-danger start-btn">Get Started</button>
        </a>
      </div>
    </div>
  </div>
</div>
