<div id="bg_art">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>Let's get into it...</h1>
        <h3>How would you like to find your next event?</h3>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center">
          <a routerLink="/profile">
            <img
              src="../../assets/spotify_logo_white.png"
              class="image-thumbnail"
              alt="spotify logo"
            />
            <h3>Using your Spotify Account</h3></a
          >
        </div>
        <div class="col-sm-4 text-center">
          <a routerLink="/location">
            <img
              src="../../assets/music_location.png"
              class="image-thumbnail"
              alt="location logo"
            />
            <h3>By Location</h3></a
          >
        </div>
        <div class="col-sm-4 text-center">
          <a routerLink="/artist">
            <img
              src="../../assets/artist.png"
              class="image-thumbnail"
              alt="artist logo"
            />
            <h3>By Artist</h3></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
