<div id="bg_art">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>Let's get into it...</h1>
        <h3>How would you like to find your next event?</h3>
      </div>
      <div class="row p-5">
        <div class="col-sm-4 text-center">
          <a routerLink="/profile">
            <div class="cell-style spotify">
              <img
                src="../../assets/spotify_logo_white.png"
                class="image-thumbnail"
                alt="spotify logo"
              />
              <h3 class="option-text">Using your Spotify Account</h3>
            </div></a
          >
        </div>
        <div class="col-sm-4 text-center">
          <a routerLink="/location">
            <div class="cell-style location">
              <img
                src="../../assets/music_location.png"
                class="image-thumbnail"
                alt="location logo"
              />
              <h3 class="option-text">By Location</h3>
            </div></a
          >
        </div>
        <div class="col-sm-4 text-center">
          <a routerLink="/artist">
            <div class="cell-style artist">
              <img
                src="../../assets/artist.png"
                class="image-thumbnail"
                alt="artist logo"
              />
              <h3 class="option-text">By Artist</h3>
            </div></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
