a {
    text-decoration: none;
}

#bg_art {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: #000;
  background-image: url("https://images.unsplash.com/photo-1583795484071-3c453e3a7c71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGNvbmNlcnR8ZW58MHx8MHx8&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100vh;
}

h1,
h3 {
  color: #fff;
  text-align: center;
}

img {
  padding: 0;
  height: 15vw;
  object-fit: cover;
}

.cell-style {
    border-radius: 25px;
    height: 100%;
    width: 100%;
    padding: 1em;
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-text {
    color: #000;
}

.spotify {
    background-color: #1DB954;
}

.location {
    background-color: #F15C07;
}

.artist {
    background-color: #0799F1;
}
