#wrapper {
  background-color: #303179;
}

.navbar-nav {
    margin: 0 2em;
}

.navbar-nav > li {
    margin: 0 1em;
}


/* #wrapper::before {
  content: "🎹 🎧 🎤 🎼 🥁 🎹 🎧 🎤 🎼 🥁 🎹 🎧 🎤 🎼 🥁 🎹 🎧 🎤 🎼 🥁 🎹 🎧 🎤 🎼 🥁 🎹 🎧 🎤 🎼 🥁 🎹 🎧 🎤 🎼 🥁 🎹 🎧 🎤 🎼 🥁 🎹 🎧 🎤 🎼 🥁 🎹 🎧 🎤 🎼 🥁 🎹 🎧 🎤 🎼 🥁 🎹 🎧 🎤 🎼 🥁 🎹 🎧 🎤 🎼 🥁 🎹 🎧 🎤 🎼 🥁 🎹 ";
} */
/* 
#logo {
  background-image: url("../../assets/logo.png");
  margin: 0;
  padding: 0;

  box-shadow: 0 0 8px 8px #303179 inset;
} */
