<div id="bg_art">
  <div class="container">
    <div class="row">
      <div class="col m-3 text">
        <h4>What is TuneLink?</h4>
        <p>
          TuneLink is a web app designed to generate musical event listings
          based on user preferences. Those preferences can be used to search for
          events either by location, by a particular artist, or by using a
          Spotify account ID.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col m-3 text">
        <h4>Motivation for creating this App</h4>
        <p>
          Finding a musical event to attend often involves having to visit
          multiple websites that either cater to an artist or a venue which can
          prove to be very time-consuming. TuneLink attempts to overcome this by
          using APIs to bring all relevant information to a single interface.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col m-3 text">
          <h4>Development Team</h4>
        <p>The team responsible behind TuneLink's development are:</p>
        <ul>
            <li>Joe Moon</li>
            <li>Jasmine Naraine</li>
            <li>Keenan Flynn</li>
            <li>Nathan Cheney</li>
        </ul>
      </div>
    </div>
  </div>
</div>
